apiVersion: v1
kind: Pod
metadata:
  name: app
spec:
  containers:
    - name: webapp-ecr
      image: 015092641389.dkr.ecr.us-east-1.amazonaws.com/db-ecr:v0.1
      env:
        - name: DBPWD
          value: "pwdanuj"
        - name: DBPORT
          value: "3306"
        - name: DBHOST
          value: "db.default.svc.cluster.local"
        - name: DBUSER
          value: "root"
      ports:
        - containerPort: 8080