apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: app
  labels:
    app: app

spec:
  replicas: 3
  selector:
    matchLabels:
      app: app

  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
        - name: application-container
          image: 015092641389.dkr.ecr.us-east-1.amazonaws.com/webapp-ecr:v0.1
          env:
            - name: DBPWD
              value: pwdanuj
            - name: DBPORT
              value: "3306"
            - name: DBHOST
              value: "db.default.svc.cluster.local"
            - name: DBUSER
              value: "root"
          ports:
              - containerPort: 8080