apiVersion: v1
kind: Pod
metadata:
  name: db
  labels:
    app: dbapp
spec:
  containers:
    - name: db-ecr
      image: 015092641389.dkr.ecr.us-east-1.amazonaws.com/db-ecr:v0.1
      env:
        - name: MYSQL_ROOT_PASSWORD
          value: pwdanuj
      ports:
        - containerPort: 3306